<%- include('header'); -%>


<h1>
  This is the about page
</h1>

<p>
    This page is all about stuff.  In fact all kinds of stuff, big stuff, little stuff, silly stuff, serious stuff.  So sit back and get ready to learn more about all the stuff.
</p>


<%- include('footer'); -%>
