<%- include('header'); -%>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(newListItem => { %>
    <div class="item">
      <!-- Add a new li for every element in newListItems arr -->
      <input type="checkbox">
      <p>
        <%= newListItem.name %>
      </p>
    </div>
    <% }) %>
    <form class="item" action="/" method="POST">
      <input type="text" name="toDoItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list">+</button>
    </form>

  </div>

  <%- include('footer'); -%>
